.atm_1s_glywfm{-webkit-appearance:none;appearance:none;}

.atm_9s_1o8liyq{display:inline-block;}

.dir.atm_5j_1ssbidh{border-radius:50%;}

.dir.atm_3f_idpfg4{border:0;}

.atm_kd_idpfg4{outline:0;}

.dir.atm_gi_16flvx1{margin:-7px;}

.dir.atm_l8_1v6z61t{padding:7px;}

.atm_7l_1u9drld{color:buttontext;}

.dir.atm_2d_1j28jx2.atm_2d_1j28jx2{background-color:transparent;}

.dir.atm_9j_tlke0l{cursor:pointer;}

.atm_tl_1gw4zv3{touch-action:manipulation;}

.atm_17yrrpa_glywfm:focus-visible{outline:none;}

.dir.atm_1lru4vw_ryfd4z:focus-visible{transition:box-shadow 0.2s ease;}

.dir.atm_1yl5u20_1snd6fg:focus-visible{box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.atm_1kzo02m_glywfm:focus-visible::-moz-focus-inner{border:none;}

.dir.atm_10q75zg_idpfg4:focus-visible::-moz-focus-inner{padding:0;}

.dir.atm_d4kuj3_idpfg4:focus-visible::-moz-focus-inner{margin:0;}

.dir.atm_1dnzheg_glywfm:focus-visible:focus::-moz-focus-inner{border:none;}

.atm_1lm9n7e_glywfm:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.atm_yo1tlc_glywfm.atm_yo1tlc_glywfm:focus-visible{transition:none;}}

.atm_2t1xam_glywfm:focus[data-focus-visible-added]{outline:none;}

.dir.atm_1bf0v1u_ryfd4z:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;}

.dir.atm_rye0by_1snd6fg:focus[data-focus-visible-added]{box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.atm_13aj7vd_glywfm:focus[data-focus-visible-added]::-moz-focus-inner{border:none;}

.dir.atm_1uxm3ac_idpfg4:focus[data-focus-visible-added]::-moz-focus-inner{padding:0;}

.dir.atm_ndhiqm_idpfg4:focus[data-focus-visible-added]::-moz-focus-inner{margin:0;}

.dir.atm_9t4h24_glywfm:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.atm_l64kuj_glywfm:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.atm_y4zk1o_glywfm.atm_y4zk1o_glywfm:focus[data-focus-visible-added]{transition:none;}}

.atm_1jhk75u_1piyxwk:disabled{opacity:0.5;}

.dir.atm_174zlj6_13gfvf7:disabled{cursor:not-allowed;}

.atm_1yfe54e_jajhky:disabled{color:graytext;}

.dir.atm_705yyq_idpfg4:not(:focus){border:0;}

.atm_a2xz2l_hxbz6r:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);}

.atm_9bhdwl_ysn8ba:not(:focus){-webkit-clip-path:inset(100%);clip-path:inset(100%);}

.atm_tv73d1_t94yts:not(:focus){height:1px;}

.atm_112he3w_15vqwwr:not(:focus){overflow:hidden;}

.atm_112he3w_zryt35:not(:focus){overflow:clip;}

.dir.atm_129h6bo_idpfg4:not(:focus){padding:0;}

.atm_1s57o31_stnw88:not(:focus){position:absolute;}

.atm_15g0ro0_1q9ccgz:not(:focus){white-space:nowrap;}

.atm_1r72ff3_t94yts:not(:focus){width:1px;}
.l1tdvn0e[class][class]{-webkit-appearance:none;appearance:none;-webkit-user-select:auto;user-select:auto;}

.dir.l1tdvn0e[class][class]{background:transparent;border:0;cursor:pointer;margin:0;padding:0;}

.dir.l1tdvn0e[class][class]:disabled{cursor:not-allowed;}

@media (hover:hover){
.l1tdvn0e[class][class]:disabled:hover{-webkit-text-decoration:none;text-decoration:none;}}

.b55s2dl[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-family:inherit;touch-action:manipulation;}

.dir.b55s2dl[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.b55s2dl[class][class]:disabled{opacity:0.3;}

.dir.b55s2dl[class][class]:disabled{cursor:not-allowed;}
.dir.atm_9j_tlke0l{cursor:pointer;}

.atm_9s_1o8liyq{display:inline-block;}

.dir.atm_gi_idpfg4{margin:0;}

.atm_mk_h2mmj6{position:relative;}

.dir.atm_r3_1h6ojuz{text-align:center;}

.atm_rd_glywfm{-webkit-text-decoration:none;text-decoration:none;}

.dir.atm_3f_97hwo{border:1px solid black;}

.atm_vy_1wugsn5{width:auto;}

.dir.atm_l8_1cudcw5{padding:4px 8px;}

.dir.atm_26_1spn1w4{background:lightgrey;}

.atm_7l_11x86a4{color:black;}

.atm_c8_dlk8xv.atm_c8_dlk8xv{font-size:14px;}

.atm_bx_1kw7nm4.atm_bx_1kw7nm4{font-family:inherit;}

.atm_tl_1gw4zv3{touch-action:manipulation;}

.dir.atm_174zlj6_13gfvf7:disabled{cursor:not-allowed;}

.atm_1jhk75u_si67jz:disabled{opacity:0.3;}

.atm_vy_1osqo2v{width:100%;}

.dir.atm_705yyq_idpfg4:not(:focus){border:0;}

.atm_a2xz2l_hxbz6r:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);}

.atm_9bhdwl_ysn8ba:not(:focus){-webkit-clip-path:inset(100%);clip-path:inset(100%);}

.atm_tv73d1_t94yts:not(:focus){height:1px;}

.atm_112he3w_15vqwwr:not(:focus){overflow:hidden;}

.atm_112he3w_zryt35:not(:focus){overflow:clip;}

.dir.atm_129h6bo_idpfg4:not(:focus){padding:0;}

.atm_1s57o31_stnw88:not(:focus){position:absolute;}

.atm_15g0ro0_1q9ccgz:not(:focus){white-space:nowrap;}

.atm_1r72ff3_t94yts:not(:focus){width:1px;}
.atm_c8_1kw7nm4.atm_c8_1kw7nm4{font-size:inherit;}

.atm_bx_1kw7nm4.atm_bx_1kw7nm4{font-family:inherit;}

.atm_cs_1kw7nm4.atm_cs_1kw7nm4{font-weight:inherit;}

.atm_cd_1kw7nm4.atm_cd_1kw7nm4{font-style:inherit;}

.atm_ci_1kw7nm4.atm_ci_1kw7nm4{font-feature-settings:inherit;font-variant:inherit;}

.atm_g3_1kw7nm4.atm_g3_1kw7nm4{line-height:inherit;}

.atm_7l_1kw7nm4{color:inherit;}

.atm_rd_8stvzk{-webkit-text-decoration:underline;text-decoration:underline;}

@media (hover:hover){
.dir.atm_1ydyzuz_tlke0l.atm_1ydyzuz_tlke0l:hover{cursor:pointer;}}

@media (hover:hover){
.atm_1i14kl1_1kw7nm4.atm_1i14kl1_1kw7nm4:hover{color:inherit;}}

@media (hover:hover){
.atm_tugpcz_8stvzk.atm_tugpcz_8stvzk:hover{-webkit-text-decoration:underline;text-decoration:underline;}}

.atm_9i92u8_1kw7nm4:focus{color:inherit;}

.atm_1jnz9t4_8stvzk:focus{-webkit-text-decoration:underline;text-decoration:underline;}

.atm_vy_1osqo2v{width:100%;}

.atm_9s_1ulexfb{display:block;}

.dir.atm_705yyq_idpfg4:not(:focus){border:0;}

.atm_a2xz2l_hxbz6r:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);}

.atm_9bhdwl_ysn8ba:not(:focus){-webkit-clip-path:inset(100%);clip-path:inset(100%);}

.atm_tv73d1_t94yts:not(:focus){height:1px;}

.atm_112he3w_15vqwwr:not(:focus){overflow:hidden;}

.atm_112he3w_zryt35:not(:focus){overflow:clip;}

.dir.atm_129h6bo_idpfg4:not(:focus){padding:0;}

.atm_1s57o31_stnw88:not(:focus){position:absolute;}

.atm_15g0ro0_1q9ccgz:not(:focus){white-space:nowrap;}

.atm_1r72ff3_t94yts:not(:focus){width:1px;}
.atm_bx_1ltc5j7.atm_bx_1ltc5j7{font-family:var(--e-ls-qkw);}

.atm_c8_8ycq01.atm_c8_8ycq01{font-size:var(--iw-ehf-f);}

.atm_g3_adnk3f.atm_g3_adnk3f{line-height:var(---s-l-myu);}

.atm_cs_qo5vgd.atm_cs_qo5vgd{font-weight:var(--jx-zk-pv);}

.dir.atm_5j_9l7fl4{border-radius:var(--go-h-jh-l);}

.dir.atm_6h_t94yts.atm_6h_t94yts{border-width:1px;}

.dir.atm_66_nqa18y.atm_66_nqa18y{border-style:solid;}

.atm_kd_glywfm{outline:none;}

.dir.atm_l8_srw7uq{padding:14px 24px;}

.atm_uc_1c5iv21{-webkit-transition:box-shadow 0.2s ease,-webkit-transform 0.1s ease;}

.dir.atm_uc_1c5iv21{transition:box-shadow 0.2s ease,transform 0.1s ease;}

.atm_r2_1j28jx2{-webkit-tap-highlight-color:transparent;}

@media (prefers-reduced-motion:reduce){
.dir.atm_1h8cxgn_glywfm.atm_1h8cxgn_glywfm{transition:none;}}

.atm_17yrrpa_glywfm:focus-visible{outline:none;}

.dir.atm_1lru4vw_ryfd4z:focus-visible{transition:box-shadow 0.2s ease;}

.dir.atm_1yl5u20_thabx4:focus-visible{box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.atm_1kzo02m_glywfm:focus-visible::-moz-focus-inner{border:none;}

.dir.atm_10q75zg_idpfg4:focus-visible::-moz-focus-inner{padding:0;}

.dir.atm_d4kuj3_idpfg4:focus-visible::-moz-focus-inner{margin:0;}

.dir.atm_1dnzheg_glywfm:focus-visible:focus::-moz-focus-inner{border:none;}

.atm_1lm9n7e_glywfm:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.atm_yo1tlc_glywfm.atm_yo1tlc_glywfm:focus-visible{transition:none;}}

.atm_2t1xam_glywfm:focus[data-focus-visible-added]{outline:none;}

.dir.atm_1bf0v1u_ryfd4z:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;}

.dir.atm_rye0by_thabx4:focus[data-focus-visible-added]{box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.atm_13aj7vd_glywfm:focus[data-focus-visible-added]::-moz-focus-inner{border:none;}

.dir.atm_1uxm3ac_idpfg4:focus[data-focus-visible-added]::-moz-focus-inner{padding:0;}

.dir.atm_ndhiqm_idpfg4:focus[data-focus-visible-added]::-moz-focus-inner{margin:0;}

.dir.atm_9t4h24_glywfm:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.atm_l64kuj_glywfm:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.atm_y4zk1o_glywfm.atm_y4zk1o_glywfm:focus[data-focus-visible-added]{transition:none;}}

.dir.atm_1xc0vp4_18md41p:active{transform:scale(0.96);}

.atm_1jhk75u_kb7nvz:disabled{opacity:1;}
.dir.atm_3f_glywfm{border:none;}

.dir.atm_26_1j28jx2{background:transparent;}

.atm_7l_18pqv07{color:var(--f-k-smk-x);}

.atm_rd_8stvzk{-webkit-text-decoration:underline;text-decoration:underline;}

.dir.atm_eflmni_glywfm:focus-visible{border:none;}

.dir.atm_ihb4mj_1nh1gcj:focus-visible{background:var(---pc-g-v-g);}

.atm_5ldfm_18pqv07:focus-visible{color:var(--f-k-smk-x);}

.dir.atm_1yl5u20_216vci:focus-visible{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);}

.dir.atm_17g1h5y_glywfm:focus[data-focus-visible-added]{border:none;}

.dir.atm_1v1zd6z_1nh1gcj:focus[data-focus-visible-added]{background:var(---pc-g-v-g);}

.atm_r90d7c_18pqv07:focus[data-focus-visible-added]{color:var(--f-k-smk-x);}

.dir.atm_rye0by_216vci:focus[data-focus-visible-added]{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);}

@media (hover:hover){
.dir.atm_17dxtjf_glywfm.atm_17dxtjf_glywfm:hover{border:none;}}

@media (hover:hover){
.dir.atm_yd0sdn_1nh1gcj.atm_yd0sdn_1nh1gcj:hover{background:var(---pc-g-v-g);}}

@media (hover:hover){
.atm_1i14kl1_1otlplk.atm_1i14kl1_1otlplk:hover{color:var(--bgxgx);}}

.dir.atm_1j4gqi5_glywfm:active{border:none;}

.dir.atm_1kevezh_1nh1gcj:active{background:var(---pc-g-v-g);}

.atm_16scgop_1otlplk:active{color:var(--bgxgx);}

.dir.atm_1f0kgtv_glywfm:disabled{border:none;}

.dir.atm_oln6rx_1j28jx2:disabled{background:transparent;}

.atm_1yfe54e_161hw1:disabled{color:var(--j-qkgmf);}
.atm_c8_fkimz8.atm_c8_fkimz8{font-size:var(--c-zdwk-p);}

.atm_g3_11yl58k.atm_g3_11yl58k{line-height:var(--j-p-z-kco);}

.dir.atm_l8_9o6drx{padding:8px 16px;}
.dir.atm_4b_18pqv07.atm_4b_18pqv07{border-color:var(--f-k-smk-x);}

.dir.atm_26_1hbpp16{background:var(--f-mkcy-f);}

.atm_7l_18pqv07{color:var(--f-k-smk-x);}

.dir.atm_12xq4on_18pqv07.atm_12xq4on_18pqv07:focus-visible{border-color:var(--f-k-smk-x);}

.atm_5ldfm_18pqv07:focus-visible{color:var(--f-k-smk-x);}

.dir.atm_1yl5u20_216vci:focus-visible{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);}

.dir.atm_pzej8q_18pqv07.atm_pzej8q_18pqv07:focus[data-focus-visible-added]{border-color:var(--f-k-smk-x);}

.atm_r90d7c_18pqv07:focus[data-focus-visible-added]{color:var(--f-k-smk-x);}

.dir.atm_rye0by_216vci:focus[data-focus-visible-added]{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);}

@media (hover:hover){
.dir.atm_1vjy2xw_1otlplk.atm_1vjy2xw_1otlplk.atm_1vjy2xw_1otlplk:hover{border-color:var(--bgxgx);}}

@media (hover:hover){
.dir.atm_yd0sdn_1nh1gcj.atm_yd0sdn_1nh1gcj:hover{background:var(---pc-g-v-g);}}

@media (hover:hover){
.atm_1i14kl1_18pqv07.atm_1i14kl1_18pqv07:hover{color:var(--f-k-smk-x);}}

.dir.atm_iiao3o_1otlplk.atm_iiao3o_1otlplk:active{border-color:var(--bgxgx);}

.dir.atm_1kevezh_1nh1gcj:active{background:var(---pc-g-v-g);}

.atm_16scgop_18pqv07:active{color:var(--f-k-smk-x);}

.dir.atm_j9qr6e_161hw1.atm_j9qr6e_161hw1:disabled{border-color:var(--j-qkgmf);}

.dir.atm_oln6rx_1hbpp16:disabled{background:var(--f-mkcy-f);}

.atm_1yfe54e_161hw1:disabled{color:var(--j-qkgmf);}
@keyframes animation-64e8c8{
from{opacity:0.09049773755656108;}

to{opacity:0.15384615384615385;}}

.dir.atm_u_1yy80mb.atm_u_1yy80mb{animation-direction:alternate;}

.dir.atm_y_9cwzv5.atm_y_9cwzv5{animation-duration:1s;}

.dir.atm_12_q7pw6w.atm_12_q7pw6w{animation-fill-mode:forwards;}

.dir.atm_16_12c5xpv.atm_16_12c5xpv{animation-iteration-count:infinite;}

.dir.atm_1c_4hnrxs.atm_1c_4hnrxs{animation-name:var(--dls-shimmer-animation,animation-64e8c8);}

.atm_k4_7tcf61{opacity:0.09049773755656108;}

.dir.atm_1k_1ytfnp0.atm_1k_1ytfnp0{animation-timing-function:ease-in-out;}

.dir.atm_2d_1r31cwp.atm_2d_1r31cwp{background-color:currentColor;}

.atm_9s_1ulexfb{display:block;}

.atm_mk_h2mmj6{position:relative;}

@media (prefers-reduced-motion:reduce){
.dir.atm_1g8xqjd_glywfm.atm_1g8xqjd_glywfm{animation:none;}}

.dir.atm_1c_glywfm.atm_1c_glywfm{animation-name:none;}

.atm_vl_15vqwwr{visibility:hidden;}
.ldornx1[class][class]{position:absolute;top:0;bottom:0;}

.dir.ldornx1[class][class]{left:0;right:0;}

.h1a2w4o2[class][class]{visibility:hidden;}
.dir.a1kk49yp[class][class]{animation-delay:0ms;animation-duration:200ms;animation-fill-mode:both;animation-iteration-count:1;animation-play-state:running;animation-timing-function:ease-out;}

.dir.a1stauiv[class][class]{animation-name:dismiss-a1stauiv;}

@keyframes dismiss-a1stauiv{
0%{opacity:0;transform:scale(0.97);}

100%{opacity:1;transform:scale(1);}}

.dir.a2m6bsh[class][class]{animation-name:exit-a2m6bsh;}

@keyframes exit-a2m6bsh{
0%{opacity:1;transform:scale(1);}

100%{opacity:0;transform:scale(0.97);}}
.dir.atm_q_1x0fdm6.atm_q_1x0fdm6{animation-delay:var(--base-entry-transition_delay);}

.dir.atm_y_1t28w13.atm_y_1t28w13{animation-duration:var(--base-entry-transition_duration);}

.dir.atm_1g_3hiju5.atm_1g_3hiju5{animation-play-state:var(--base-entry-transition_play-state);}
.m1kffmgo[class][class]{--gp-placement-max-height:100vh;display:contents;}

.dir.nwbxm6k[class][class]{padding-bottom:var(--jhzm-v-t);box-shadow:rgb(0 0 0 / 16%) 0 0 6px;}

.dir.pqns1tx[class][class]{border-bottom:1px solid var(--d-nc-lt-s);margin-left:var(--ic-zlb-s);margin-right:var(--ic-zlb-s);}
.dir.l1adzyzg[class][class]{margin-left:24px;margin-right:24px;}

@media (min-width:744px){
.dir.l1adzyzg[class][class]{margin-left:40px;margin-right:40px;}}

@media (min-width:950px){
.dir.l1adzyzg[class][class]{margin-left:24px;margin-right:24px;}}
.c126cqqg[class][class]{--explore_padding-inline:40px;--gp-sidebar-top-padding:0;position:relative;isolation:isolate;}

@media (min-width:950px){
.c126cqqg[class][class]{--explore_padding-inline:24px;--gp-fixed-sidebar-feed-width:55%;}}

@media (min-width:1128px){
.c126cqqg[class][class]{--gp-fixed-sidebar-feed-width:55%;}}

@media (min-width:1240px){
.c126cqqg[class][class]{--gp-fixed-sidebar-feed-width:63%;}}

@media (min-width:1440px){
.c126cqqg[class][class]{--gp-fixed-sidebar-feed-width:720px;--gp-fixed-sidebar-feed-width-xl-and-above:63%;}}

@media (min-width:1880px){
.c126cqqg[class][class]{--gp-fixed-sidebar-feed-width-xl-and-above:1184px;}}

.c1edecko[class][class]{--navigation-bar-offset:158px;}

.hiaqt0g[class][class]{position:-webkit-sticky;position:sticky;top:0;width:100%;z-index:10;height:var(--navigation-bar-offset);}

.cttm8qi[class][class]{display:flex;}

.c1l3ms5c[class][class]{display:block;}

@media (min-width:950px){
.c1l3ms5c[class][class]{display:flex;}}

.c1q1nuxv[class][class]{display:flex;}

.dir.p1180s14[class][class]{-webkit-padding-start:var(--ikx-k-pe);padding-inline-start:var(--ikx-k-pe);-webkit-padding-end:var(--ikx-k-pe);padding-inline-end:var(--ikx-k-pe);}

@media (min-width:744px){
.dir.p1180s14[class][class]{-webkit-padding-start:var(--f-fw-z-a-i);padding-inline-start:var(--f-fw-z-a-i);-webkit-padding-end:var(--f-fw-z-a-i);padding-inline-end:var(--f-fw-z-a-i);}}

@media (min-width:950px){
.dir.p1180s14[class][class]{-webkit-padding-start:var(--ikx-k-pe);padding-inline-start:var(--ikx-k-pe);-webkit-padding-end:var(--ikx-k-pe);padding-inline-end:var(--ikx-k-pe);}}

.dir.atqbbj4[class][class]{padding-inline:var(--ikx-k-pe);}

@media (min-width:744px){
.dir.atqbbj4[class][class]{padding-inline:var(--f-fw-z-a-i);}}

@media (min-width:950px){
.dir.atqbbj4[class][class]{padding-inline:var(--ikx-k-pe);}}

.snanza1[class][class]{height:1px;}

.fmdphkf[class][class]{min-height:calc(100vh - var(--navigation-bar-offset,80px));z-index:2;flex-grow:0;flex-shrink:0;contain:paint layout;width:100%;}

.dir.fmdphkf[class][class]{background:var(--f-mkcy-f);}

@media (min-width:950px){
.fmdphkf[class][class]{-webkit-transition:-webkit-transform 850ms cubic-bezier(0.25,1,0.5,1);width:var(--gp-fixed-sidebar-feed-width,58vw);}

.dir.fmdphkf[class][class]{transition:transform 850ms cubic-bezier(0.25,1,0.5,1);}}

@media (min-width:1440px){
.fmdphkf[class][class]{width:var(--gp-fixed-sidebar-feed-width-xl-and-above,840px);}}

.fgnm67p[class][class]{visibility:hidden;}

.dir.fgnm67p[class][class]{transition:visibility 2000ms;}

.dir-ltr.fgnm67p[class][class]{transform:translateX(-100%);}

.dir-rtl.fgnm67p[class][class]{transform:translateX(100%);}

.dir-ltr.f1lf7snk[class][class]{margin-right:-100%;}

.dir-rtl.f1lf7snk[class][class]{margin-left:-100%;}

@media (min-width:950px){
.dir-ltr.f1lf7snk[class][class]{margin-right:calc(-1 * var(--gp-fixed-sidebar-feed-width,58vw));}

.dir-rtl.f1lf7snk[class][class]{margin-left:calc(-1 * var(--gp-fixed-sidebar-feed-width,58vw));}}

@media (min-width:1440px){
.dir-ltr.f1lf7snk[class][class]{margin-right:calc(-1 * var(--gp-fixed-sidebar-feed-width-xl-and-above,840px));}

.dir-rtl.f1lf7snk[class][class]{margin-left:calc(-1 * var(--gp-fixed-sidebar-feed-width-xl-and-above,840px));}}

.m4xs8xf[class][class]{position:-webkit-sticky;position:sticky;top:var(--navigation-bar-offset,80px);z-index:1;}

.m1ict9kd[class][class]{line-height:0;--gp-placement-max-height:calc(100vh - var(--navigation-bar-offset,80px));display:block;flex:auto;flex-shrink:0;visibility:hidden;width:100%;}

.dir-ltr.m1ict9kd[class][class]{transform:translateX(-100%);}

.dir-rtl.m1ict9kd[class][class]{transform:translateX(100%);}

@media (min-width:950px){
.m1ict9kd[class][class]{flex-shrink:unset;-webkit-transition:-webkit-transform 850ms cubic-bezier(0.25,1,0.5,1);visibility:unset;width:unset;}

.dir.m1ict9kd[class][class]{transform:unset;transition:transform 850ms cubic-bezier(0.25,1,0.5,1);}}

.m1k84ca2[class][class]{flex-shrink:unset;visibility:unset;width:unset;}

.dir.m1k84ca2[class][class]{transform:unset;}

@media (min-width:950px){
.dir-ltr.m7lqfs3[class][class]{transform:translateX(calc(var(--gp-fixed-sidebar-feed-width,58vw) / 2));}

.dir-rtl.m7lqfs3[class][class]{transform:translateX(calc(-1*(var(--gp-fixed-sidebar-feed-width,58vw) / 2)));}}

@media (min-width:1440px){
.dir-ltr.m7lqfs3[class][class]{transform:translateX(calc(var(--gp-fixed-sidebar-feed-width-xl-and-above,840px) / 2));}

.dir-rtl.m7lqfs3[class][class]{transform:translateX(calc(-1*(var(--gp-fixed-sidebar-feed-width-xl-and-above,840px) / 2)));}}

@media (min-width:950px){
.dir.m12odydq[class][class]{transition:none;}}
